[Unit]
Description=gateway
After=syslog.target

[Service]
User=tranphuochiep1997
Group=tranphuochiep1997
ExecStart=/app/gateway/build/app.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target